@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>TESTTF*IUFIRGWOUOFWO#HUHPOF#UHPFI#U</h1>
    <p>another test.13:26</p>
    <h1>egr3hpu30[9u1gr3o[hi1r3ghpout43oi[</h1>
}
